s################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/sim3d
/.vscode
x64/
x64/Debug/
sim3d/x64/
sim3d/x64/Debug/
/sim3d/imgui.ini
/sim3d/sim3d/Debug
*.tlog
/vcpkg/
